#canvas_container,
#buttons_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#canvas_container *,
#buttons_container * {
	pointer-events: auto;
}
#canvas_container {
    background: url("img/bg.jpg");
}
#canvas_container.dragging {
	cursor: move;
}
.image_button {
	position: absolute;
	transform: translateX(-50%);
}

body * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}